{% extends 'base.html' %}

{% block content %}
<!-- Button trigger modal -->
<div style="margin-top: 5rem;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tableadd">
        메뉴 추가
    </button>
</div>
  
  <!-- Modal -->
<div class="modal fade" id="tableadd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">메뉴 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'createmenu' %}" method="post">
            {%csrf_token%}
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">메뉴 이름</label>
                    <input type="text" class="form-control" name="name">
                    <label for="exampleFormControlInput1" class="form-label">메뉴 가격</label>
                    <input type="number" class="form-control" name="price">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary">추가하기</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div style="margin-top: 3rem;">
    <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for menu in menus %}
            <div class="col">
                <div type="button" class="card h-100" data-bs-toggle="modal" data-bs-target="#menu-{{menu.id}}">
                    <div class="card-body">
                        <h5 class="card-title">{{menu.name}}</h5>
                        <p class="card-text">{{menu.price}} 원</p>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% for menu in menus %}
    <div class="modal fade" id="menu-{{menu.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">메뉴 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'updatemenu' menu.id %}" method="post">
                    {%csrf_token%}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">메뉴 이름</label>
                            <input type="text" class="form-control" name="name" value="{{menu.name}}">
                            <label for="exampleFormControlInput1" class="form-label">메뉴 가격</label>
                            <input type="number" class="form-control" name="price" value="{{menu.price}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endfor%}

{% endblock %}

