{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav class="navbar navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'tables' %}">
        <img id="logo" src="https://ifh.cc/g/54ycRY.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">메뉴</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'tables' %}">테이블 관리</a>
          </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'showmenus' %}">메뉴 관리</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>