{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1 style="margin: 10%; text-align: center; color: white;">{% trans "Sign Out" %}</h1>

<p style="margin: 10%; text-align: center; color: white;">{% trans 'Are you sure you want to sign out?' %}</p>

<form style="align-items: center; text-align: center; color: white" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="primaryAction bg-white text-black rounded border border-1"
  style="width: 90%;" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}