body {
    background: linear-gradient(#CC4900 -20%, #000000 60%) fixed;
    width: 100%;
}

#logo {
    width : 91px;
    height: 28px;
    margin-right: 0px;
}

#addTable{
    display: grid;
    width: 100%;
}

#addMenu{
    display: grid;
    width: 100%;
}

/* 
@media (max-width: 575px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        width: 30vw;
    }
} */

@media screen and (min-width: 1200px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        width: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        width: 245px;
    }
}

@media screen and (max-width: 991px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        width: 160px;
    }
}

@media screen and (max-width: 767px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        width: 190px;
    }
}

@media screen and (max-width: 575px) {
    .card-plus {
        box-sizing: border-box;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        /* width: calc(50%-36vmin); */
        /* width: 36vmin; */
        width: 5.3em;
    }
}

/* .card-body2 {
    background-color: beige;
} */
